body{
    background: #ccc;
    padding-top: 1vh;
}
#fixed{
    position: fixed;
}
.centered50{
    width: 100vh;
    margin:4vh auto;
    text-align: center;
    white-space: nowrap;
}
#table{
    border-collapse: separate;
    border-spacing: 5vh;
    margin-top: -5vh;
    margin-bottom: -5vh;
    padding-top: 2vh;
}
#green,#red,#yellow,#blue {
    width: 100vh;
    height: 40vh;
    z-index: 1;
    opacity: .5;
}
#green{
    border-top-left-radius:100%;
    background: #0f0;
}
#red{
    border-top-right-radius: 100%;
    background: #f00;
}
#yellow{
    border-bottom-left-radius: 100%;
    background: #ff0;
}
#blue{
    border-bottom-right-radius: 100%;
    background: #00f;
}

#center,#back{
    background: #333;
    border-radius: 100%;
    position: fixed;
}
#center{
    width: 45vh;
    height: 45vh;
    margin:27vh;
    z-index: 2;
}
#back{
    width: 105vh;
    height: 98.5vh;
    z-index: -1;
    margin-top:1vh;
    margin-left: -2.5vh;
}
.button{
    width:auto;
    font-weight: bold;
    font-size: 9vh;
    text-align: center;
    border: solid 5px #444444;
    border-radius: .3em;
    color:#444444;
    line-height: 1.2;
    margin-top: 16vh;
    padding: 1vh;
}
