.key{
  float:left;
  width:6vw;
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  border: solid 5px #444444;
  border-radius: .3em;
  margin: 3px;
  color:#444444;
  line-height: 1.2;
}

#recordBtn{
  width:24vw;
  background-color: #ccc;
}
#stopBtn{
  width:18vw;
  background-color: #555;
}
.fullWidth {
  width: 100vw;
}
.centered90{
  width: 90vw;
  margin:4vh auto;
  text-align: center;
  white-space: nowrap;
}
#body{
  background-color: #000000;
}
a{
  text-decoration: none;
  color:#105cb6;
}
a:visited{
  text-decoration: none;
  color:#105cb6;
}
#toprow, #middlerow, #bottomrow, #spacerow{
  float:left;
}
#middlerow{
  padding-left:2vw;
}
#bottomrow{
  padding-left: 4vw;
}
#spacerow{
  padding-left: 18.6vw;
}
#btn-space {
  width: 35vw;
}
#recordingslist{
  float:right;
  list-style-type: none;
}

#recorderContainer{
  float:left;
  margin-top: -1.5vh;
  display: none;
}
#recorderContainer a{
  padding-left:1.2vw;
}